
.imagen{
    width: 40%;
    height: 40%;
}
td{
    text-align: center;
    padding: 25px;
}
table{
    margin: 0% auto;
    border-color: black;
}
caption{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 8px;

}
th{
    background-color: brown;
    color:white ;
    font-size: 10px;
}